.wrapper {
    display: grid;
    place-items: center;
}

.bio {
    margin: 2rem;
}

footer {
    margin-top: auto;
    color: #5c5c5c;
    font-size: 0.78rem;
}

.footer-dark-mode {
    color: #c0c0c0;
}

.footer-option {
    display: block;
}