body {
    background-color: #fbfbfb;
    color: #3a3a3a;
    font-weight: bold;
    font-family: Inter, Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    min-height: 96vh;
}

a {
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.side-padding {
    padding: 0 15% 0 15%;
}

.no-decoration {
    text-decoration: none; 
 }

.no-decoration:visited {
    text-decoration: none;
}

.body-dark-mode {
    background-color: #2e2e2e;
    color: #f5f5f5;
    font-weight: normal;
}

.site-header {
    display: flex;
    background-color: #bd2116;
    color: #f5f5f5;
    text-align: center;
    align-self: start;
}

.header-buttons {
    display: inherit;
    font-size: x-large;
    font-weight: bolder;
}

.header-button {
    padding: 0.25rem;
}

.header-button:hover {
    background-color: #e2291c;
}

.footer-dark-mode {
    color: #c0c0c0;
}

.footer-option {
    display: block;
}